.modal-container{
    inset: 0;
    position:fixed;
    background-color: rgba(0, 0, 0, 0.803);
    opacity: 0.5px;
    top:0;
    left: 0;
    bottom: 0;
}

.modal-close-btn {
    text-align: end;
}
.modal-close-btn button{
    text-align: end;
    
}