.modal-container{
    inset: 0;
    position:fixed;
    background-color: rgba(0, 0, 0, 0.803);
    opacity: 0.5px;
    top:0;
    left: 0;
    bottom: 0;
}
.modal {
    background-color: #fff;
    margin-top: 100px;
    max-width: 500px;
    border-radius: 5px;
    margin: 50px auto 0  auto;
}
.form{
    padding:  0px 50px 50px 50px;
}
.modal-close-btn {
    text-align: end;
}
.modal-close-btn button{
    text-align: end;
    padding: 5px 8px;
    color: #fff;
    border: 0;
    background-color: red;
    font-size: 20px;
    
}
.input input{
    width: 100%;
    height: 30px;
    border: 1px solid black;
    
}
.input {
    margin-bottom: 25px;
    
}
#select{
    width: 100%;
    height: 30px;
    border: 1px solid black;
}
.select{
    margin-bottom: 25px;
}
.submit-btn {
    text-align: center;
    margin-top: 20px;
}
.submit-btn button{
    padding: 8px 15px;
    background-color: rgb(0, 42, 255);
    color: #fff;
    font-size:20px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    
}
.error{
    color: red;
}